/*carousel item*/
body{
  font-family: helvetica, verdana, sans-serif;
  background-color: rgb(0,0,0);
  background-image: url("images/backgroundTf.png");
  background-repeat: repeat;
}

.item{
  height: 100% !important;
}

.navbar-brand {
    padding-left: 2rem !important;
    padding-top: 1rem !important;
}

.navbar-inverse .navbar-collapse, .navbar-inverse{
  border:none !important;
}

.navbar-form {
  border:none !important;
  margin-top: 0 !important;
  margin-right: 0 !important;
  margin-left: 0 !important;
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

.navbar-form {
    box-shadow: none !important;
}

input {
  background-color: rgb(51, 51, 51) !important;
  border-color: rgb(68, 68, 68) !important;
}

.form-control {
    color: rgb(136, 136, 136);
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

.form-control:focus {
  border-color: rgb(68, 68, 68);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 255, 255, 0.2);
}

/* hack to prevent zoom in on iphone*/
input[type="text"]:focus {
  font-size: 16px;
}

div#newsBg {
    height:100%;
    width:100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover !important;
    background-position: center center !important;
    position: absolute;
    left:0;
    top: 0;
}

div#blackOverlay {
  position: absolute;
  left:0rem;
  top: 0rem;
  height:100%;
  width:100%;
  background: rgba(0, 0, 0, 0.30);
}

tr#newsSection{
  background: rgba(0, 0, 0, 0.7);
}

td#newsRow{
  /*padding-left:2rem;*/
  padding-top:1rem;
  padding-bottom:1rem;
  /*padding-right:2rem;*/
}

span{
  text-align:left;
  color:rgb(218, 218, 218);
  position:relative;
}

span#apiProvider {
  top: 0.3rem;
  bottom: 0.3rem;
}

div#newsFg{
  position: absolute;
  left:0;
  top: 25%;
  width: 100%;
}

table#news {
  position: relative;
  width:100%;
}

span#newsSrc {
  color: rgb(255, 179, 60);
}

span#newsDate {
    font-weight:normal;
    color: rgb(153, 153, 153);
    font-style: italic;
}

a:link, a:hover, a:visited, a:active{
    color: rgb(237, 237, 237);
    text-decoration: none;

}

@media only screen and (min-width: 320px) {
  /* For tablets: */
  .glyphicon-padding{
    padding: 0.2rem;
  }
  .table-col{
    width: 2rem;
  }

  span#newsBody {
      font-size:1.4rem;
      font-weight:normal;
  }

  span#newsDate {
      font-size:1.4rem;
      font-weight:normal;

  }

  span#newsTitle {
      font-size:2.0rem;
      font-weight:bold;
  }

  span#newsSrc {
      font-size:1.4rem;
      line-height: 2.4rem;
  }
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .glyphicon-padding{
    padding: 1rem;
  }
  .table-col{
    width: 2rem;
  }

  span#newsBody {
      font-size:1.6rem;
      font-weight:normal;
  }

  span#newsDate {
      font-size:1.6rem;
      font-weight:normal;

  }

  span#newsTitle {
      font-size:2.4rem;
      font-weight:bold;
  }

  span#newsSrc {
      font-size:1.6rem;
      line-height: 2.8rem;
  }
}


@media only screen and (min-width: 768px) {
  /* For desktop: */
  .navbar-form .form-control {
    margin-top: 0.8rem !important;
    width: 22rem !important;
  }

  .glyphicon-padding{
    padding: 1.5rem;
  }
  .table-col{
    width: 4rem;
  }

  table#news {
    left: 0rem;
    top: 30%;
  }
  span#newsBody {
      font-size:2.0rem;
      font-weight:normal;
  }

  span#newsDate {
      font-size:2.0rem;
      font-weight:normal;
      color: rgb(130, 130, 130);
      font-style: italic;
  }

  span#newsTitle {
      font-size:3.0rem;
      font-weight:bold;
  }

  span#newsSrc {
      font-size:2.0rem;
      line-height: 3.4rem;
  }
}
